*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
 *:not(body):not(html) {
  border:1px dashed red;
}
.columns {
  min-height: 100px !important;
}
/* End for testing */

@font-face {
  font-family: 'minion-pro';
  src: url("Minion Pro.ttf");
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  font-family: "minion-pro";
  text-transform: lowercase;
  background-color: #000;
  padding-top: 2em;
  margin: auto;
  width: 90%;
  height: 50vh;
  color: white;
}

ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

h2,  h4 {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h2 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}

h4 {
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
}

body#home div#backstretch {
  left: 0px;
  top: 0px;
  position: fixed;
  cursor: pointer;
}

body#home div#backstretch img {
  left: -142.167px;
  top: 0px;
}

#secondary-text-wrap {
  top: 21px;
}

#nav-container {
  overflow: hidden;
  background-color: #fffeff;
  z-index: 9999;
  top: 0;
  left: 0;
}

#nav-container ul {
  margin-top: 10px;
  list-style: none;
}

#nav-container  ul a:link, #nav-container ul a:visited {
  text-decoration: none;
  text-transform: lowercase;
  display: block;
}

h2#project-title, h4#project-location {
    color: #fff;
    left: 50px;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 18px;
}

h4#project-location {
    font: bold 10px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

div#right-content {
    min-width: 230px;
    right: 0;
}

div#featured-secondary {
    display: block;
}

#secondary-outer-wrap {
    color: #fff;
    text-decoration: none;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    letter-spacing: 1px;
    z-index: 1;
  }

div#right-content div#about-content {
    color: #dedede;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: static;
    float: none;
    width: auto;
}

@media screen and (max-width: 600px) {
  #nav-container {
    position: static;
    margin: 0 20px 20px;
    height: auto;
    width: auto;
    opacity: 1.0!important;
  }

  #nav-container ul {
      margin-left: 0;
      background-color: #f4f4f4;
      padding-left: 22px;
  }

  #nav-container ul li {
    display: inline-block;
    margin-right: 2%;
  }

  #nav-container  ul a:link, #nav-container ul a:visited {
      line-height: 34px;
      font-size: 10px;
      color: #444;
  }

  h2#project-title, h4#project-location {
    text-shadow: 1px 1px 3px #000;
    position: static;
    margin-left: 20px;
    opacity: 1.0!important;
  }

  h4#project-location {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  body#home div#backstretch, body#home div#backstretch img {
    position: static!important;
    z-index: 0!important;
    visibility: visible!important;
    display: block!important;
}

  body#home div#backstretch {
      margin-left: 20px;
      margin-right: 20px;
      visibility: visible!important;
      height: auto;
      margin-bottom: 0;
      overflow: visible!important;
  }

  body#home div#backstretch img {
      width: 100%!important;
      height: auto!important;
  }

  body#home div#backstretch, body#home div#backstretch img {
      position: static!important;
      z-index: 0!important;
      display: block!important;
      width: auto!important;
  }

  a#featured-primary-link, a#featured-primary-link:hover, #featured-secondary a, #featured-secondary a:hover {
    display: block;
    padding-left: 22px;
    padding-right: 12px;
    background: #fff url(../images/arrow.png) no-repeat 8px center;
    opacity: 1;
    margin-bottom: 20px;
    position: static;
    width: auto;
  }

  a#featured-primary-link, #secondary-subhead, #secondary-title {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "minion-pro-1","minion-pro-2","Times New Roman",serif;
    line-height: 11px;
    color: #555;
    text-align: left;
    letter-spacing: 0;
  }

  a#featured-primary-link {
    text-indent: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    margin-top: 0;
    z-index: 9;
    line-height: 15px!important;
    padding-top: 13px;
    padding-bottom: 12px;
    -webkit-transition: none;
  }

  div#right-content {
    width: auto;
    background: transparent none no-repeat right bottom;
    height: auto;
    position: static;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
  }

  div#featured-secondary {
    overflow: auto;
    width: auto;
    border: 0;
    float: none;
    position: static;
    height: auto;
    margin-bottom: 20px;
  }

  #secondary-outer-wrap {
    height: auto;
    padding: 10px 12px 12px 22px;
    text-align: left;
  }
  div#about-content img {
      display: none;
  }

  content div#about-content p {
    background-color: #fff;
    padding: 15px 5% 15px 6%;
    color: #444;
    margin-top: 0;
  }
}

@media (orientation: portrait){
  a#featured-primary-link {
      top: 0;
      left: 0;
      bottom: 0;
  }

  div#right-content {
    min-height: 250px;
    top: auto;
    left: 0;
    bottom: 0;
  }

  div#about-content img {
    margin-left: -6px;
    margin-bottom: -5px;
  }
}

@media  (max-height: 750px) and (orientation: portrait) a{
  body#home h2#project-title {
    bottom: 300px;
  }

  body#home h4#project-location {
    bottom: 285px;
  }
}
/*@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

   .text, .picture2 {
     width: 50%;
     height:50%;
     margin: 4.2vh 0 0 0;
   }

   .text {
     float: left;
   }

   .picture2 {
     float: left;
   }
}*/

/*@media only screen and (min-width: 1140px) {

  .mainPic {
    float: left;
    width: 50%;
    height:100%;
  }

.text .picture2 {
  float: left;
  margin: 0 auto;
  }
}*/
